<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Words stats</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default chart-container" id="analyser_pannel">
            <div class="panel-heading">Enter your text to analyse</div>
            <form role="form" class="ng-pristine ng-valid">
                <div class="form-group" id="analyser_form">
                        <textarea ng-model="textToAnalyse"  ng-minlength="3" class="form-control" rows="10" placeholder="Your text here..." required></textarea>
                        <button ng-click="analyseText()" class="btn btn-primary btn-space glyphicon glyphicon-ok pull-right">Analyse!</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl" ng-init="init()">
        <div class="panel panel-default">
            <div class="panel-heading">Words frequency</div>
            <div class="panel-body">
                <div ng-if="!wordStats" class="alert alert-warning">No data provided yet...</div>
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options" ></canvas>
            </div>
        </div>
    </div>
</div>
